#loading-overlay {
	width:100%;
	height:100%;
	position:relative;
	background-color:#000000;
	z-index:100;
	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	display: none;
}

#loading-overlay.results {
	display:block;
}

#loading-overlay img {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
   	text-align: center;
	margin:0 auto;
	display:block;
}

#loading-overlay p {
  color: rgb(207, 207, 207);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-align: center;
  position: relative;
  top: 150px;
  background: rgba(0,0,0,0.5);
  padding-bottom: 3px;
}
#results-container {display:none;}
#results {
    background-image: none;
    background-color: #343434;
    padding: 18px 20px 15px 20px;
}
    
.ctas a:hover {
    background-color: #626262;
    color: #FFF;
}
.ctas a {
    color: #FFF;
}
div#thingsToTryContainer {
    text-align: center;
    background: #EA7500;
    margin: auto;
    width: 640px;
    height: 70px;
    margin-top: 27px;
    margin-bottom: 60px;
}
div#thingsToTryContainer:hover {
    background: #ff8b00;
    cursor: pointer;
}